/*Fazendo o reset do css em todos os elementos*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --cor-cinza: #EFEFEF;
}

html,
body,
#root {
  background-color: var(--cor-cinza);
  height: 100%;
}